body {
  margin: 0;
  height: 100vh;
  place-items: center;
  background: #666;
  overflow: hidden;
}
header,
footer {
  grid-column: 1 / span 2;
}
header{
  background: black;
  display: flex;
  height: 10vh;
}
article{
  background: black;
  display: flex;
  height: 70vh;
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-size: xx-large;
}
footer {
  background: black;
  display: flex;
  height: 20vh;
}
aside{
  background: black;
  display: flex;
  height: 70vh;
}
button{
  color: white;
  background-color: black;
  border: black;
}

.type-writer,
.typewriter{
  overflow: hidden; /* Ensures the content is not revealed on load */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */      
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end), /* string animation on typing */
    blink-caret .75s step-end infinite; /* curser keeps blinking */
}

@keyframes typing { /* The typing effect */
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret { /* The typewriter cursor effect */
  from, to { border-color: transparent }
  50% { border-color: black; }
}

.grid {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 1em;
}
.dropbtn {
  right: 0;
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; /* wrapping front */
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: black;}

.intro{
  position: absolute;
  font-family: 'Work Sans', sans-serif;


}


/* MailChimp */
#mc_embed_signup{
  background:#fff; 
  clear:left; 
  font:14px Helvetica,Arial,sans-serif; 
}
