/* Removes browser defaults */
* {
  margin: 0;
  padding: 0;
}

/* Grid End ======================================================================================================================== */
/* Defining a responsive grid layout, to cover screen
   used in a way so each page has a degree of uniformity*/
.grid {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 2;
}
/* Grid End ========================================================================================================================== */

/* Body Start ========================================================================================================================== */
body {
  margin: 0;
  height: 100vh;
  font-family: 'Heebo', sans-serif;
  background: whitesmoke;
  overflow: hidden;
}
/* Body End ========================================================================================================================== */

/* Header START ====================================================================================================================== */
header {
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 10vh;
}

/* Header: Bars Dropdown*/
/* Dropdown Button */


/* The container <div> - needed to position the dropdown content */

/* Dropdown Content using display: none; to be hidden by default */
button {  
  display: block; /* Make the buttons appear below each other */
  background-color: whitesmoke; /* match the colour of the grid background */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  color: black;
  border: none;
}

.dropdown-content-bars {
  display: none;
  position: absolute;
  align-content: center;
  background-color: whitesmoke;
  min-width: 160px;
  z-index: 1;
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content-bars a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* On hover, change the colour of the text */
.dropdown-content-bars a:hover {
  background-color: #ddd
}

/* Show the dropdown menu, using JS to add this class to the .dropdown-content-bars container when the user clicks on the dropdown button */
.show {
  display: block;
}
/* Header End ======================================================================================================================== */

/* Article Start ======================================================================================================================== */
article {
  background: #eae3d3;
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
}

article:hover{
  background: #708090;
}

/* animation for face */
/* sizing & colour of element is defined in .article so we use transparent here */
svg {
  height: 50vh;
  width: 50vw;
  background-color: transparent;
  z-index: 1;
}

/* The animation property draw 2s defines the duration of the animation; infinate defines that it will repeat indefinitely */
path {
  stroke-dasharray: 10;
  animation: draw 2s infinite;
}

/* stroke-dashoffset defines the speed of the dash animation */
@keyframes draw {
  from {
    stroke-dashoffset: 0
  }
  to {
    stroke-dashoffset: 100;
  }
}

/* M E - text animation */
*, *:before, *:after{
  box-sizing:border-box;
}

div.opening-text{
  width: 70%;
}
.letter{  
  position: relative;
  display: flex;
  font-weight: 900;
  font-size: 8em;
  margin: 0.05em;
  color: #eae3d3;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 2;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
/* Defines the speed at which the text animation transitions onto the page on load/refresh */
.letter, .letter:before, .letter:after{
  transition: all 1.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

/* Article End ======================================================================================================================== */

/* Aside Start ======================================================================================================================== */
aside {
  background: whitesmoke;
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
}

/*  */
.btn-group button {  
  display: block; /* Make the buttons appear below each other */
  background-color: whitesmoke; /* match the colour of the grid background */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  color: black;
  border: none;
}


/* Aside End ======================================================================================================================== */

/* Footer Start ======================================================================================================================== */
footer {
  background: whitesmoke;
  display: flex;
  height: 20vh;
  display: flex;  
  align-items: center;
  justify-content: center;
}
