body {
  margin: 0;
  height: 100vh;
  place-items: center;
  background: #666;
  overflow: hidden;
}
header,
footer {
  grid-column: 1 / span 2;
}
header{
  background: black;
  display: flex;
  height: 10vh;
}
article{
  background: black;
  display: flex;
  height: 70vh;
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-size: xx-large;
}
footer {
  background: black;
  display: flex;
  height: 20vh;
}
aside{
  background: black;
  display: flex;
  height: 70vh;
}
button{
  color: white;
  background-color: black;
  border: black;
}


.grid {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 1em;
}




/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-bars {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-bars {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-bars a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-bars a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}







.dropbtn {
  right: 0;
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-envelope {
  position: absolute;
  right: 0;
}

.dropdown-content-envelope {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; /* wrapping front */
}
.dropdown-content-envelope a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content-envelope a:hover {
  background-color: #f1f1f1;
}
.dropdown-envelope:hover .dropdown-content-envelope {
  display: block;
}
.dropdown-envelope:hover .dropbtn {
  background-color: black;
}


/* MailChimp */
#mc_embed_signup{
  background:#fff; 
  clear:left; 
  font:14px Helvetica,Arial,sans-serif; 
}
